
.theme-showcase{ padding-top: 50px;}


.level-w-sidebar{ padding-top: 40px;}

.item-linear-list > div{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #eee;
}


/* ==========================================================================
   Blog Grid
   ========================================================================== */
    
    .item { 
        width: 100%;
    }
    .item.q-3 { width: 75%; }
    .item.q-2 { width: 50%; }
    .item.q-1 { width: 25%; }


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden{display:none;}

.hidden2{
    height: 0px;
    overflow: hidden;
}

.inline-block{
    display: -moz-inline-stack;
    display: inline-block;
    zoom:1;
    *display: inline;
    vertical-align: top;
}

.hide-text{
    text-indent: 105%;
    white-space: nowrap;
    overflow: hidden;
}

.opacity0{
    filter: alpha(opacity=0); /* IE lt 8 */
    -ms-filter: "alpha(opacity=0)"; /* IE 8 */
    -khtml-opacity: 0.0; /* Safari 1.x */
    -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
    opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
}

.clear-both{
    clear: both;
    height: 0px;
}

.caro{
    overflow: hidden;
    position: relative;
}

.reel{
    width: 4000px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.reel li{float: left;}

.wrap{
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.hardware-accel{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
