/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "reset";

@import "mixins";

@import "helpers";

body{
	background-color: #f7f7f7;
	color: #3D3F40;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}


/*VARS*/
	$main-highlight: #42B69A;

	$main-highlight-half: rgba(66, 182, 154, 0.6);

	$secondry-highlight-1: #3DB6E9;

	$secondry-highlight-1-half: rgba(61, 181, 233, 0.6);

	$secondry-highlight-2: #E93D59;

	$secondry-highlight-2-half: rgba(233, 61, 89, 0.6);

	$secondry-highlight-3: #E93D59;


/* -- GENERIC MODULES -- */
#wrapper{
	position: relative;
	z-index: 1;
	background-color: #f7f7f7;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.js .section.hide{
	@include translate(0, 150px, 0);
	@include opacity(0);
	visibility: hidden;
}

.section{
	width: 940px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 150px;
	position: relative;
	clear: both;
	@include translate(0, 0, 0);
	border-top: solid 1px #EAEAEA;


	p{width: 740px;}

}


/* -- PAGE MODULES -- */

#sec-intro{
	padding: 0;

	.largest{
		padding-top: 70px;
		font-size: 140px;
		font-weight: 700;
	}

	h1{
		font-size: 60px;
		font-weight: 700;
	}

}

.js{

	#sec-intro{

		.largest,
	 	h1{ 
	 		@include opacity(0); 
	 		@include translate(0, 30px, 0);
	 	}

	}
}


#sec-skills{

	p{margin-bottom: 30px;}

	.skills-grid{
		clear: both;
		padding-top: 5px;
		max-width: 600px;
		
		li{
			padding: 2px 10px 6px 10px;
			float: left;
			background: #14B694;
			color: #fff;
			margin-right: 5px;
			margin-bottom: 5px;
			box-shadow: 1px 1px 1px rgba(0,0,0,0.3);

			span{
				font-size: 12px;
			}
		}

		.lang{background-color: $main-highlight;}

		.framework{background-color: $secondry-highlight-1;}

		.other{background-color: $secondry-highlight-2;}

		.lang.half{background-color: $main-highlight-half;}

		.framework.half{background-color: $secondry-highlight-1-half;}

		.other.half{background-color: $secondry-highlight-2-half;}

	}

}

.js{

	#sec-skills{

		.skills-grid{
			
			li{
				@include opacity(0);
				@include scale(0.7);
			}

		}

	}
}


#sec-work{
	padding-bottom: 125px;

	p{margin-bottom: 40px;}

	.work-grid{
		clear: both;
		max-width: 800px;
		
		li{
			width: 250px;
			float: left;
			padding-bottom: 5px;
			margin-right: 25px;
			margin-bottom: 25px;

			.work-hero{
				display: block;
				position: relative;
				margin-bottom: 10px;

				img{
					width: 100%;
					height: auto;
					display: block;
					box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
				}

				.rollover{
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 152px;
					@include opacity(0);
					@include scale(0.7);
					background-color: rgba(247,247,247,0.9);
					text-align: center;

					span{
						@extend .inline-block;
						color: #3D3F40;
						line-height: 152px;
						@include opacity(0);
						@include transition(color, .3s, ease-out);
						@include translate(0, 15px, 0);
					}
				}


			}


			h3{
				font-size: 16px;
				font-family: 500;

				a{color: inherit;}
			}
		}

		li:nth-child(3n){ margin-right: 0;}

	}

}

.js{

	#sec-work{

		.work-grid{
			
			li{
				@include opacity(0);
				@include scale(0.7);

			}

		}

	}
}


#sec-contact{

	p{margin-bottom: 40px;}

	#contact-form{
		clear: both;
		width: 450px;


		.form-row{
			position: relative;
			margin-top: 35px;
			margin-bottom: 15px;
			height: 35px;

			label{
				line-height: 35px;
				height: 35px;
				color: #BFBEBF;
				display: block;
				position: absolute;
				top: 0;
				left: 10px;
				z-index: 2;
				font-size: 14px;
			}

			input,
			textarea{
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				width: 430px;
				padding: 5px 10px;
				height: 25px;
				font-weight: 400;
				font-size: 14px;
				background-color: transparent;
				border: solid 1px #CBCBCB;
				border-radius: 2px;
			}

			input:focus,
			textarea:focus{
				outline: none;
				border-color: #848484;
			}

			input.error,
			textarea.error{
				border-color: $secondry-highlight-2-half;
			}

			.form-field-helper{
				font-size: 12px;
				position: absolute;
				left: 10px;
				bottom: -60px;
				color: #494C4D;

				a{
					color: inherit;
					text-decoration: underline;
				}
			}

		}

		.form-row.t-a{
			height: 100px;

			label{
				display: block;
				height: 100px;
			}

			input,
			textarea{
				height: 90px;
			}

		}

		.notif{
			display: none;
			float: left;
			margin-top: 44px;
			margin-left: 10px;
			width: 363px;
			font-size: 14px;
		}

		.form-send{
			display: block;
			margin-top: 35px;
			padding: 6px 15px;
			float: left;
			background: #ddd;
			color: #3D3F40;
			box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		}

		.form-send:hover{
			background: $main-highlight-half;
			color: #fff;
		}

		.form-send:active{
			background: $main-highlight;
			color: #fff;
		}

	}

}

#footer-spacer{
	position: relative;
	height: 1px;
}


#footer{
	width: 100%;
	background-color: #2c2c2c;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 0;

	.footer-inner{
		color: #eee;
		width: 940px;
		margin: 0 auto;
		padding: 40px 0;

		.footer-img{
			float: left;
			width: 150px;
			height: 150px;
			margin-right: 40px;
			background: url('../img/me.jpg') 0 0 no-repeat;
			box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
			border-radius: 2px;
		}

		p{
			float: left;

			a{
				color: inherit;
				margin-right: 30px;
			}

		}
	}
}


@import "mid";

@import "small";

@import "retina";
